SiteHeader {
  margin: 0;
  font-family: Nunito;
}
SiteHeader a {
  font-size: 18px;
  padding: 2px;
  display: block;
  width: 300px;
  margin: auto;
  text-decoration: none;
}

SiteHeader h1,
SiteHeader h2,
SiteHeader h3,
SiteHeader h4,
SiteHeader a,
SiteHeader p {
  text-align: center;
}
SiteHeader a.ext {
  text-decoration: underline;
}
SiteHeader a.InText {
  text-decoration: underline;
  text-align: unset;
  padding: unset;
  display: unset;
  width: unset;
  margin: unset;
}
SiteHeader .DivLink {
  /* width: 100%;
  height: 100%; */
  background-color: tomato;
  color: white;
  border-radius: 5px;
}
SiteHeader p {
  text-align: justify;
  width: 400px;
  display: block;
  margin: auto;
}
SiteHeader .center {
  text-align: center;
  width: 10 0%;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 414px) and (orientation: portrait) {
  SiteHeader a {
    width: 100%;
  }
  SiteHeader p {
    width: 100%;
  }
}
