
SiteHeader {
  margin: 0;
  font-family: Nunito;
}
SiteHeader a {
  font-size: 18px;
  padding: 2px;
  display: block;
  width: 300px;
  margin: auto;
  text-decoration: none;
}

SiteHeader h1,
SiteHeader h2,
SiteHeader h3,
SiteHeader h4,
SiteHeader a,
SiteHeader p {
  text-align: center;
}
SiteHeader a.ext {
  text-decoration: underline;
}
SiteHeader a.InText {
  text-decoration: underline;
  text-align: unset;
  padding: unset;
  display: unset;
  width: unset;
  margin: unset;
}
SiteHeader .DivLink {
  /* width: 100%;
  height: 100%; */
  background-color: tomato;
  color: white;
  border-radius: 5px;
}
SiteHeader p {
  text-align: justify;
  width: 400px;
  display: block;
  margin: auto;
}
SiteHeader .center {
  text-align: center;
  width: 10 0%;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 414px) and (orientation: portrait) {
  SiteHeader a {
    width: 100%;
  }
  SiteHeader p {
    width: 100%;
  }
}


body {
  background: #f0f0f0;
  margin: 0;
  font-family: Nunito;
}

main {
  margin: 0 auto;
  width: 800px;
}

main h1 {
  top: 0;
  left: 0;
  margin: -20px -20px 20px -20px;
  background-color: darkgrey;
  background-color: #273647;
  color: white;
  text-shadow: 0 0 3px rgb(24, 12, 0);
}

.artigo {
  box-shadow: 0 0 5px #999;
  background: #fff;
  padding: 20px;
  margin: 20px 0;
}

.code {
  border-radius: 5px;
  margin-left: 5%;
  margin-top: 10px;
  width: 95%;
  color: white;
  background-color: black;
  overflow-x: auto;
}

div.code pre {
  padding-top: 0px;
}

div.code div {
  left: 0px;
  padding: 5px;
}

a {
  font-size: 18px;
  padding: 2px;
  display: block;
  width: 300px;
  margin: auto;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
a,
p {
  text-align: center;
}
a.ext {
  text-decoration: underline;
}
a.InText {
  text-decoration: underline;
  text-align: unset;
  padding: unset;
  display: unset;
  width: unset;
  margin: unset;
}
.DivLink {
  width: 100%;
  height: 100%;
  background-color: tomato;
  color: white;
  border-radius: 5px;
}

p {
  text-align: justify;
  width: 400px;
  display: block;
  margin: auto;
}
.center {
  text-align: center;
  width: 10 0%;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 415px) and (orientation: portrait) {
  a,
  p,
  footer {
    width: 95%;
    font-size: large;
  }

  a.ext {
    font-size: large;
  }
  main {
    width: 90%;
  }
  main p {
    width: 95%;
  }
  svg,
  .grafico,
  .artigo {
    width: 90%;
  }
  .code {
    font-size: large;
  }
}
