body {
  margin: 0;
  font-family: Nunito;
}
a {
  font-size: 18px;
  padding: 2px;
  display: block;
  width: 400px;
  margin: auto;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
a,
p {
  text-align: center;
}
a.ext {
  text-decoration: underline;
}
a.InText {
  text-decoration: underline;
  text-align: unset;
  padding: unset;
  display: unset;
  width: unset;
  margin: unset;
}
.DivLink {
  width: 100%;
  height: 100%;
  background-color: tomato;
  color: white;
  border-radius: 5px;
}
p {
  text-align: justify;
  width: 400px;
  display: block;
  margin: auto;
}
.center {
  text-align: center;
  width: 10 0%;
  display: block;
  margin: auto;
}
