/* Use of percentage to be flexible!!! */

SiteHeader p {
  width: 90%;
  text-align: justify;
}

SiteHeader a {
  width: 50%;
}

main,
article,
aside {
  width: 90%;
  /* to test purpose
  background-color: blueviolet; */
}

main {
  width: 90%;
  text-align: center;
  box-shadow: none;
}
header {
  /* adapt width to mobile */
  background-size: auto 80%;
}
article h1,
article h2 {
  text-decoration: none;
  color: black;
}

article {
  padding: 5%;
  float: none;
}
article p {
  text-align: justify;
  display: block;
  font-size: 150%;
}

article img {
  text-align: center;
  display: block;
  margin: 20px auto;
  float: none;
}

nav#menu_desktop {
  display: none;
}
/* mostrar menu do mobile */
nav#menu_mobile {
  display: block;
  width: 80%;
  margin: 20px auto;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

nav#menu_mobile ul {
  margin: 0;
  padding: 0;
}

nav#menu_mobile li {
  list-style: none;
}

nav#menu_mobile li a {
  display: block;
  background-color: rgb(79, 22, 23);
  padding: 5% 2%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-bottom: 1px;
}
