header {
  width: 100%;
}

main,
article,
aside {
  width: 90%;
}
aside {
  float: left;
}

aside img:nth-child(odd) {
  float: left;
  width: 45%;
}
aside img:nth-child(even) {
  float: right;
  width: 45%;
}
